body{
    background-color: #E2CFB8;
    font-family: 'Bubbler One', sans-serif;
    font-family: 'Oswald', sans-serif;
}
.welcomescreen h1{
    color: #FFFF;
    text-align: center;
    font-size: 60px;
    margin-top: 5%;
}
.welcomescreen{
    background-image: url("/images/chococake.jpeg");
    
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}
.ingredientsscreen h1{
    color: black;
    text-align: left;
    margin-left: 2%;
    font-size: 6vh;
    z-index: 1;
}
.ingredientsscreen{
    background-image: url("/images/ingredients.jpg"); 

    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top:100%;
    right:0px;
    bottom:0px;
    left:0px;
}

.ingredientsscreen ul{
    color: black;
    margin-left: 2%;
    font-size: 4vh;
}

.ingredientsscreen li{
    padding: 12px;
}  
.procedurescreen h1{
    color: #FFFF;
    text-align: center;
    font-size: 6vh;
    margin-top: 5%;
}
.procedurescreen{
    background-color: #E2CFB8;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 200%;
    right:0px;
    bottom:0px;
    left:0px;
    padding-bottom: 2350px;
}
.procedurescreen h1{
    color: #4F3328;
}
.procedurescreen ol{
    color: #4F3328;
    font-size: 30px;
    width: 40%;
}

.procedurescreen li{
    padding-bottom: 40%;
}
.procedurescreen li img{
    transition: 0.2s;
}
.procedurescreen li img:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    z-index: 1;
}
.imgstep1{
    position: absolute;
    width: 310px;
    top: 190px;
    right: 200px;
}
.imgstep2{
    position: absolute;
    width: 310px;
    top: 560px;
    right: 200px;
}
.imgstep3{
    position: absolute;
    width: 310px;
    top: 940px;
    right: 510px;
}
.imgstep4{
    position: absolute;
    width: 310px;
    top: 940px;
    right: 200px;
}
.imgstep5{
    position: absolute;
    width: 310px;
    top: 1310px;
    right: 510px;
}
.imgstep5{
    position: absolute;
    width: 310px;
    top: 1310px;
    right: 510px;
}
.imgstep6{
    position: absolute;
    width: 310px;
    top: 1310px;
    right: 200px;
}
.imgstep7{
    position: absolute;
    width: 310px;
    top: 1650px;
    right: 200px;
}
.imgstep8{
    position: absolute;
    width: 310px;
    top: 1990px;
    right: 200px;
}

.procedurescreen a{
    position: absolute;
    top: 2223px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #4F3328;
    color: white;
}
.procedurescreen a:link{
    color: white;   
    text-decoration: none;
}
.procedurescreen a:visited{
    color: white;   
    text-decoration: none;
}

.footer{
    margin-top: 4063px;
    padding-left: 50px;
    background-color: #4F3328;
    color: white;
    padding-top: 50px;
}
@media (max-width: 1169px) {
    .procedurescreen li img{
        display: none;
    }
    .procedurescreen ol{
        color: #4F3328;
        font-size: 30px;
        width: 100%;
    }
}